<h1>Title</h1>

<p>こんにちは、<%= @user.name %></p>

<p>
ようこそ、Titleへ！！
</p>

<p>
下記のリンクをクリックし、アカウントを有効にしてください↓↓
<%= link_to "有効にする", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>
