<h1>favorite-app</h1>

<p>こんにちは、<%= @user.name %>さん</p>

<p>
ようこそ、favorite-appへ！！
</p>

<p>下記のリンクをクリックし、アカウントを有効にしてください↓↓</p>
<p><%= link_to "アカウントを有効にする", edit_account_activation_url(@user.activation_token, email: @user.email) %></p>
