<div class="TopTitle-wrapper">
  <img src="/assets/Top.jpg">

  <div class="TopTitle-text-wrapper">
    <h1>favorite-app</h1>

    <div class="TopExplaine-wrapper">
      <p>あなたが知っているお気に入りのモデルコースをシェアするSNSサービスです。</p>
      <p>メジャーなスポットから穴場スポットまで、幅広く紹介されています!</p>
      <p class="Top-Link-wrapper"><%= link_to 'さっそくチェック', posts_path, {class:"Top-Link"} %></p>
    </div>
  </div>

</div>
