<header>
  <div class="container">
    <%= link_to "timeline", root_path %>
    <ul>
      <li><%= link_to "SignUp", signup_path %></li>
      <li><%= link_to "Login", "#" %></li>
    </ul>
  </div>
</header>
